a{
    text-decoration: none;
    color: #B08968;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.ForHeaderTop{
    width: 100%;
    height: 50px;
    background-image: url(./img/BannerForHeadertop.png);
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
}
.listHeadertop{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.location{
    margin-left: 120px;
}
.iconForHeadertop{
    margin: 20px;
}
.iconListForHeaderTop{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.whatsapIconList{
    margin-left: 600px;
}
.ForHeaderBottom{
    width: 100%;
    height: 90px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    padding: 0 100px;
}
.liForHeaderBottom , .liForHeaderBottomStart{
    color: #B08968;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ulForHeaderBottom{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.liForHeaderBottomStart{
    margin-left: 120px;
}
.mainFirst{
    width: 100%;
    height: 663px;
    flex-shrink: 0;
    background-image: url(./img/MainImg1.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mainpForMainFirst{
    color: #FFF;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pForMainFirst{
    width: 667px;
    height: 78px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}
.buttonForMainFirst{
    width: 179px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.buttonForMainFirst:hover{
    cursor: pointer;
    scale: 0.99;
    transition: all 0.25s ease-in-out;
    background-color: #E8E8E8;
    border: 1px solid grey;
}
.buttonForMainFirst:hover .buttonp{
    color: #212121;
    transition: all 0.25s ease-in-out;
}
.buttonp{
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
footer{
    background-image: url(./img/FooterMainPng.png);
    width: 100%;
    height: 465px;
    position: relative;
    padding-top: 60px;
    padding-left: 110px;
    display: flex;
    gap: 50px;
}
.hrFooter{
    width: 1200px;
    position: absolute;
    bottom: 80px;
    right: 150px;
}
.FooterMuellif , .FooterSite{
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.FooterDiv{
    display: flex;
    position: absolute;
    bottom: 25px;
    width: 1200px;
    right: 150px;
}
.FooterSite{
    position: absolute;
    right: 10px;
}
.firstFooterP{
    width: 311px;
    height: 78px;
    flex-shrink: 0;
    color: #E8E8E8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-top: 40px;
}
.iconFooterDiv{
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.FooterIcon{
    display: flex;
    gap: 10px;
    margin-top:10px ;
}
.SecondFooterP{
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.hrFooter1{
    width: 51px;
    height: 2px;
}
.FooterLi{
    color: #E8E8E8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.FooterUl{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    margin-top: 30px;
}
.SecondFooterSection{
    margin-left: 80px;
}
.newFooterP1{
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.ThirdFooterSection{
    margin-left:40px ;
}
.FooterImgDiv{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto auto;
    gap: 20px;
    margin-top: 20px;
}
.mainSecond{
    background-image: url('./img/mainBack2.png');
    margin-top: 50px;
    width: 1440px;
    height: 508px;
    flex-shrink: 0;
    padding: 50px 140px;
    position: relative;
    display: flex;
}
.dontKnowName1{
    width: 454px;
    height: 345px;
    flex-shrink: 0;
    border: 1px solid #016B38;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 90px;
}
.dontKnowName2{
    width: 454px;
    height: 345px;
    flex-shrink: 0;
    border: 1px solid #016B38;
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 190px;
}
.mainSecondpng{
    z-index: 9;
    position: relative;
}
.mainpForMainSecond{
    color: #2B2B2B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 140px;
}
.pForMainSecond{
    width: 619px;
    height: 208px;
    flex-shrink: 0;
    margin-left: 140px;
    color: #5E5E5E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 60px;
}
.hrMainSecond{
    height: 3px;
    width: 60px;
    margin-left: 140px;
    margin-top: 20px;
    background-color: #016B38;
}
.sectionLayiheComp{
    background-image: url(./img/screenShot1.png);
    width: 100%;
    height: 566px;
    flex-shrink: 0;
    background-size: cover;
}
.topOfTheSectionLayiheComp{
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
}
.MainP2{
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.buttonSectionLayiheComp{
    width: 179px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #B08968;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}
.buttonSectionLayiheComp:hover{
    cursor: pointer;
}
.ButtonP1{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    display: flex;
    align-items: center;
    justify-content: center;
}
.backLayihe1{
    width: 255px;
    height: 322px;
    flex-shrink: 0;
    margin-left: 50px;
    padding-left: 20px;
    background-image:
    linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.7)),
    url('./img/backLayihe1.png');
}
.backLayihe2{
    background-image:
    linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.7)),
    url('./img/backLayihe2.jpg');
    width: 255px;
    height: 322px;
    flex-shrink: 0;
    margin-left: 70px;
    padding-left: 20px;
}
.backLayihe3{
    background-image:
    linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.7)),
    url('./img/backLayihe3.jpg');
    width: 255px;
    height: 322px;
    flex-shrink: 0;
    margin-left: 70px;
    padding-left: 20px;
}
.backLayihe4{
    background-image:
    linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.7)),
    url('./img/backLayihe4.png');
    width: 255px;
    height: 322px;
    flex-shrink: 0;
    margin-left: 70px;
    padding-left: 20px;
}
.bottomOfTheSectionLayiheComp{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px 30px;
}
.qaqasAdYoxdur{
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 220px;
    width: 200px;
}
.qaqasAdYoxdur2{
    color: #B08968;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qaqasAdYoxdur2:hover{
    cursor: pointer;
    color: #646464;
    transition: all 0.25s ease-in-out;
}
.qaqasAdYoxdur3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sectionLayiheComp2{
    width: 100%;
    height: 993px;
    background-image: url(./img/xidmetler.png);
    position: relative;
}
.mainPsecondComp2{
    color: #2B2B2B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 50px 90px;
}
.mainhsecondComp2{
    width: 60px;
    height: 3px;
    background: #B08968;
    position: absolute;
    left: 100px;
    top: 110px;
}
.Divchik1{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
    padding: 0 100px;
}
.divchikChild{
    width: 400px;
    height: 349px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 45px 42px;
}
.firstDivchikp{
    color: #2A2A2A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 80% */
    margin-top: 20px;
}
.secondDivchikp{
    width: 335px;
    height: 90px;
    flex-shrink: 0;
    color: #5E5E5E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    margin-top: 25px;
}
.thirdDivchikp{
    color: #016B38;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#id1{
    font-size: 28px;
}
.Divchik1 div:hover{
    cursor: pointer;
    margin-top: -10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation-duration: 0.25s;
    border-bottom: 8px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.TexnikaSection{
    background-image: url(./img/texnikaMain.png);
    width: 100%;
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
}
.MainTexnikap{
    color: #FFF;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 80px;
    padding-bottom: 12px;
}
.hrTexnika1{
    width: 60px;
    height: 3px;
    background: #B08968;
    margin: auto;
}
.TexnikaCard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}

.TexnikaCard div{
    width: 295px;
    height: 263px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.15);
}
.TexnikaButton{
    width: 179px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #B08968;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    margin: auto;
    margin-top: 60px;
}
.TexnikaButton:hover{
    transition: all 0.25s ease-in-out;
    scale: 0.98;
    background-color: white;
    color: #B08968;
    cursor: pointer;
}
.TexnikaCard div p{
    color: #2A2A2A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    width: 251px;
    padding: 15px;
}
.TexnikaCard div:hover{
    cursor: pointer;
}
.moduleDiv{
    width: 948px;
    height: 609px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    border: 1px solid gray;
    padding: 60px 30px;
    position: relative;
    display: flex;
}
.moduleImg{
    width: 380px;
    height: 257px;
    flex-shrink: 0;
}
.moduleIcon1{
    position: absolute;
    font-size: 23px;
    top: 30px;
    right: 25px;
}
.moduleIcon1:hover{
    cursor: pointer;
}
.p1{
    color: #2A2A2A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 85.714% */
}
.InfoModuleDiv{
    margin-left: 60px;
}
.p2{
    color: #2A2A2A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    margin-top: 40px;
}
.p3{
    color: #016B38;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    display: inline-flex;
    margin-top: 20px;
}
#idp1{
    margin-left: 80px;
}
.moduleHr1{
    width: 1px;
    height: 24px;
    background: #BEBEBE;
    position: absolute;
    right: 290px;
    top: 170px;
}
.p4{
    color: #2B2B2B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
.inputModule{
    margin-top: 60px;
}
.moduleInput{
    width: 396px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #DFDBDB;
    background: #FAFAFA;
    margin-top: 15px;
    padding: 10px;
}
::placeholder{
    color: #5E5E5E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.buttonModule{
    width: 170px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #016B38;
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin-top: 30px;
}
.buttonModule:hover{
    transition: all 0.25s ease-in-out;
    scale: 0.98;
    background-color: white;
    color: #B08968;
    cursor: pointer;
}